.elementor-3133 .elementor-element.elementor-element-50cee5dd {
    background-image: url('../images/kenya-kichwa-family-walking-masaai.gif');
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -100px;
    margin-bottom: 0px;
}

.elementor-3133 .elementor-element.elementor-element-50cee5dd > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3133 .elementor-element.elementor-element-3ffedb50 {
    --spacer-size: 150px;
}

.elementor-3133 .elementor-element.elementor-element-28e5e782:not(.elementor-motion-effects-element-type-background), .elementor-3133 .elementor-element.elementor-element-28e5e782 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-3133 .elementor-element.elementor-element-28e5e782 > .elementor-background-overlay {
    background-color: var( --e-global-color-e5e9561 );
    opacity: 0.65;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3133 .elementor-element.elementor-element-28e5e782 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -185px;
    margin-bottom: 0px;
    padding: 258px 15px 165px 15px;
}

.elementor-3133 .elementor-element.elementor-element-5d499411 > .elementor-widget-container {
    margin: 0px 100px 0px 100px;
}

.elementor-3133 .elementor-element.elementor-element-5d499411 {
    text-align: center;
}

.elementor-3133 .elementor-element.elementor-element-5d499411 .elementor-heading-title {
    color: var( --e-global-color-21bfb04 );
}

.elementor-3133 .elementor-element.elementor-element-79de3349 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -100px;
    margin-bottom: 0px;
}

.elementor-3133 .elementor-element.elementor-element-79de3349 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3133 .elementor-element.elementor-element-46928070 {
    --spacer-size: 150px;
}

.elementor-3133 .elementor-element.elementor-element-23e8c02f > .elementor-container {
    max-width: 1130px;
}

.elementor-3133 .elementor-element.elementor-element-23e8c02f {
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-3133 .elementor-element.elementor-element-12e9e4a3 > .elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-3133 .elementor-element.elementor-element-4175f1e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-3133 .elementor-element.elementor-element-567aa3e1 > .elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 > .elementor-widget-container {
    padding: 15px 0px 15px 0px;
    background-color: var( --e-global-color-primary );
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(50px/2);
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(50px/2);
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(50px/2);
    margin-left: calc(50px/2);
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-50px/2);
    margin-left: calc(-50px/2);
}

body.rtl .elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-50px/2);
}

body:not(.rtl) .elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-50px/2);
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    border-color: #ddd;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 1px;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 1px;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-icon i {
    color: var( --e-global-color-ad41708 );
    transition: color 0.3s;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-ad41708 );
    transition: fill 0.3s;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-icon {
    padding-right: 15px;
}

.elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-3133 .elementor-element.elementor-element-1a6f63b8 > .elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title:before, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title:after, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-content, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tabs-content-wrapper {
    border-width: 1px;
}

.elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-mobile-title, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-desktop-title.elementor-active, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title:before, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title:after, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-content, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tabs-content-wrapper {
    border-color: var( --e-global-color-57a29b1 );
}

.elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title a {
    color: var( --e-global-color-e5e9561 );
}

.elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title.elementor-active, .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title.elementor-active a {
    color: var( --e-global-color-accent );
}

.elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    line-height: var( --e-global-typography-accent-line-height );
}

.elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-content {
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    line-height: var( --e-global-typography-text-line-height );
}

.elementor-3133 .elementor-element.elementor-element-2e666d77 > .elementor-widget-container {
    padding: 45px 0px 25px 0px;
}

.elementor-3133 .elementor-element.elementor-element-2e666d77 .elementor-heading-title {
    color: #222222;
}

.elementor-3133 .elementor-element.elementor-element-5255788c {
    --e-image-carousel-slides-to-show: 2;
}

.elementor-3133 .elementor-element.elementor-element-5255788c .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: var( --e-global-color-primary );
}

.elementor-3133 .elementor-element.elementor-element-56372311 > .elementor-element-populated {
    padding: 0px 0px 0px 20px;
}

.elementor-3133 .elementor-element.elementor-element-50230897 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-3133 .elementor-element.elementor-element-26140308 iframe {
    height: 350px;
    filter: brightness( 85% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

:root {
    --smooth-title-display: none;
}

@media(max-width: 1024px) {
    .elementor-3133 .elementor-element.elementor-element-3ffedb50 {
        --spacer-size:100px;
    }

    .elementor-3133 .elementor-element.elementor-element-28e5e782 {
        margin-top: -165px;
        margin-bottom: 0px;
        padding: 242px 15px 160px 15px;
    }

    .elementor-3133 .elementor-element.elementor-element-5d499411 > .elementor-widget-container {
        margin: 0px 0px 5px 0px;
    }

    .elementor-3133 .elementor-element.elementor-element-46928070 {
        --spacer-size: 100px;
    }

    .elementor-3133 .elementor-element.elementor-element-23e8c02f {
        margin-top: 45px;
        margin-bottom: 100px;
        padding: 0px 15px 0px 15px;
    }

    .elementor-3133 .elementor-element.elementor-element-12e9e4a3 > .elementor-element-populated {
        padding: 0px 0px 85px 0px;
    }

    .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-content {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-3133 .elementor-element.elementor-element-5255788c {
        --e-image-carousel-slides-to-show: 3;
    }

    .elementor-3133 .elementor-element.elementor-element-56372311 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-3133 .elementor-element.elementor-element-32a7b1f8 > .elementor-element-populated {
        padding: 28px 0px 0px 0px;
    }
}

@media(max-width: 767px) {
    .elementor-3133 .elementor-element.elementor-element-28e5e782 {
        margin-top:-265px;
        margin-bottom: 0px;
        padding: 344px 15px 160px 15px;
    }

    .elementor-3133 .elementor-element.elementor-element-23e8c02f {
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(20px/2);
    }

    .elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(20px/2);
    }

    .elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(20px/2);
        margin-left: calc(20px/2);
    }

    .elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-20px/2);
        margin-left: calc(-20px/2);
    }

    body.rtl .elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-20px/2);
    }

    body:not(.rtl) .elementor-3133 .elementor-element.elementor-element-53c62d20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-20px/2);
    }

    .elementor-3133 .elementor-element.elementor-element-53c62d20 {
        --e-icon-list-icon-size: 15px;
    }

    .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-3133 .elementor-element.elementor-element-1a6f63b8 .elementor-tab-content {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-3133 .elementor-element.elementor-element-56372311 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(min-width: 768px) {
    .elementor-3133 .elementor-element.elementor-element-12e9e4a3 {
        width:65%;
    }

    .elementor-3133 .elementor-element.elementor-element-56372311 {
        width: 35%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-3133 .elementor-element.elementor-element-12e9e4a3 {
        width:100%;
    }

    .elementor-3133 .elementor-element.elementor-element-56372311 {
        width: 100%;
    }
}
