.elementor-2999 .elementor-element.elementor-element-348623d:not(.elementor-motion-effects-element-type-background),
.elementor-2999 .elementor-element.elementor-element-348623d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/volcanoesq.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-348623d>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.65;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-348623d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -125px;
    margin-bottom: 0px;
    padding: 198px 15px 105px 15px;
}

.elementor-2999 .elementor-element.elementor-element-85a188e>.elementor-widget-container {
    margin: 0px 100px 0px 100px;
}

.elementor-2999 .elementor-element.elementor-element-85a188e {
    text-align: center;
}

.elementor-2999 .elementor-element.elementor-element-85a188e .elementor-heading-title {
    color: var(--e-global-color-21bfb04);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-2999 .elementor-element.elementor-element-51ebd1f:not(.elementor-motion-effects-element-type-background),
.elementor-2999 .elementor-element.elementor-element-51ebd1f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #B8C384;
}

.elementor-2999 .elementor-element.elementor-element-51ebd1f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-51ebd1f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-26f30872:not(.elementor-motion-effects-element-type-background),
.elementor-2999 .elementor-element.elementor-element-26f30872>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #B8C384;
}

.elementor-2999 .elementor-element.elementor-element-26f30872 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 100px 24px 100px;
    z-index: 1000;
}

.elementor-2999 .elementor-element.elementor-element-26f30872>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-c9549ad {
    margin-top: 25px;
    margin-bottom: 0px;
}

.elementor-2999 .elementor-element.elementor-element-592efc9c>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-2999 .elementor-element.elementor-element-3f0faef2:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-3f0faef2>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/Can-I-go-gorilla-trekking-in-2022-1200x675-1.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-3f0faef2>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.1;
}

.elementor-2999 .elementor-element.elementor-element-3f0faef2>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-3f0faef2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-5fbccca0 {
    --spacer-size: 200px;
}

.elementor-bc-flex-widget .elementor-2999 .elementor-element.elementor-element-7c737637.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-7c737637.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-7c737637:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-7c737637>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-2999 .elementor-element.elementor-element-7c737637>.elementor-element-populated {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 35px;
}

.elementor-2999 .elementor-element.elementor-element-7c737637>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-31bcb4fa {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-72a89289 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-72a89289 .elementor-star-rating__title {
    color: var(--e-global-color-08fcc9d);
    font-family: var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2999 .elementor-element.elementor-element-72a89289 .elementor-star-rating i:before {
    color: #333C09;
}

.elementor-2999 .elementor-element.elementor-element-63e02980 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-3fe6a72 .elementor-button {
    background-color: #AD6C05;
}

.elementor-2999 .elementor-element.elementor-element-35b46188>.elementor-element-populated {
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
}

.elementor-2999 .elementor-element.elementor-element-3fd48445:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-3fd48445>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/dead.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-3fd48445>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.1;
}

.elementor-2999 .elementor-element.elementor-element-3fd48445>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-3fd48445>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-6fa16c8d {
    --spacer-size: 200px;
}

.elementor-bc-flex-widget .elementor-2999 .elementor-element.elementor-element-7b95535a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-7b95535a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-7b95535a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-7b95535a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-2999 .elementor-element.elementor-element-7b95535a>.elementor-element-populated {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 35px;
}

.elementor-2999 .elementor-element.elementor-element-7b95535a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-23dff032 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-3ee2d18d {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-3ee2d18d .elementor-star-rating__title {
    color: var(--e-global-color-08fcc9d);
    font-family: var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2999 .elementor-element.elementor-element-3ee2d18d .elementor-star-rating i:before {
    color: #333C09;
}

.elementor-2999 .elementor-element.elementor-element-3857895b {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-0c519f9 .elementor-button {
    background-color: #AD6C05;
}

.elementor-2999 .elementor-element.elementor-element-6cae5b2 {
    margin-top: 25px;
    margin-bottom: 0px;
}

.elementor-2999 .elementor-element.elementor-element-61d3c6e>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-2999 .elementor-element.elementor-element-bb4c9f6:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-bb4c9f6>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/fam.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-bb4c9f6>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.1;
}

.elementor-2999 .elementor-element.elementor-element-bb4c9f6>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-bb4c9f6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-82ea070 {
    --spacer-size: 200px;
}

.elementor-bc-flex-widget .elementor-2999 .elementor-element.elementor-element-0f658a6.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-0f658a6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-0f658a6:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-0f658a6>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-2999 .elementor-element.elementor-element-0f658a6>.elementor-element-populated {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 35px;
}

.elementor-2999 .elementor-element.elementor-element-0f658a6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-a2fa725 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-e586229 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-e586229 .elementor-star-rating__title {
    color: var(--e-global-color-08fcc9d);
    font-family: var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2999 .elementor-element.elementor-element-e586229 .elementor-star-rating i:before {
    color: #333C09;
}

.elementor-2999 .elementor-element.elementor-element-21fdd0c {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-fda350e .elementor-button {
    background-color: #AD6C05;
}

.elementor-2999 .elementor-element.elementor-element-6a52b22>.elementor-element-populated {
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
}

.elementor-2999 .elementor-element.elementor-element-a7f793e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-a7f793e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/kibiiso.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-a7f793e>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.1;
}

.elementor-2999 .elementor-element.elementor-element-a7f793e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-a7f793e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-1e56059 {
    --spacer-size: 200px;
}

.elementor-bc-flex-widget .elementor-2999 .elementor-element.elementor-element-ea5402a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-ea5402a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-ea5402a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-ea5402a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-2999 .elementor-element.elementor-element-ea5402a>.elementor-element-populated {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 35px;
}

.elementor-2999 .elementor-element.elementor-element-ea5402a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-37d5238 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-f725065 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-f725065 .elementor-star-rating__title {
    color: var(--e-global-color-08fcc9d);
    font-family: var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2999 .elementor-element.elementor-element-f725065 .elementor-star-rating i:before {
    color: #333C09;
}

.elementor-2999 .elementor-element.elementor-element-104c57a {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-ee62a21 .elementor-button {
    background-color: #AD6C05;
}

.elementor-2999 .elementor-element.elementor-element-ca2b22c {
    margin-top: 25px;
    margin-bottom: 0px;
}

.elementor-2999 .elementor-element.elementor-element-2cb9c5a>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-2999 .elementor-element.elementor-element-4f4ebaa:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-4f4ebaa>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/lakerz.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-4f4ebaa>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.1;
}

.elementor-2999 .elementor-element.elementor-element-4f4ebaa>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-4f4ebaa>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-52dcba5 {
    --spacer-size: 200px;
}

.elementor-bc-flex-widget .elementor-2999 .elementor-element.elementor-element-8eb71f2.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-8eb71f2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-8eb71f2:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-8eb71f2>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-2999 .elementor-element.elementor-element-8eb71f2>.elementor-element-populated {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 35px;
}

.elementor-2999 .elementor-element.elementor-element-8eb71f2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-51e87b48 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-664cf1c {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-664cf1c .elementor-star-rating__title {
    color: var(--e-global-color-08fcc9d);
    font-family: var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2999 .elementor-element.elementor-element-664cf1c .elementor-star-rating i:before {
    color: #333C09;
}

.elementor-2999 .elementor-element.elementor-element-58d119a3 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-9e8220e .elementor-button {
    background-color: #AD6C05;
}

.elementor-2999 .elementor-element.elementor-element-6fea108>.elementor-element-populated {
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
}

.elementor-2999 .elementor-element.elementor-element-1c567b8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-1c567b8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/historical-2-1.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-1c567b8>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.1;
}

.elementor-2999 .elementor-element.elementor-element-1c567b8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-1c567b8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-bf04442 {
    --spacer-size: 200px;
}

.elementor-bc-flex-widget .elementor-2999 .elementor-element.elementor-element-bc53023.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-bc53023.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-bc53023:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-bc53023>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-2999 .elementor-element.elementor-element-bc53023>.elementor-element-populated {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 35px;
}

.elementor-2999 .elementor-element.elementor-element-bc53023>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-ddde31b {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-836ac3c {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-836ac3c .elementor-star-rating__title {
    color: var(--e-global-color-08fcc9d);
    font-family: var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2999 .elementor-element.elementor-element-836ac3c .elementor-star-rating i:before {
    color: #333C09;
}

.elementor-2999 .elementor-element.elementor-element-e572337 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-1c5b4af .elementor-button {
    background-color: #AD6C05;
}

.elementor-2999 .elementor-element.elementor-element-def4935 {
    margin-top: 25px;
    margin-bottom: 0px;
}

.elementor-2999 .elementor-element.elementor-element-88e6416>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-2999 .elementor-element.elementor-element-19e4ae3:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-19e4ae3>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/aaah.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-19e4ae3>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.1;
}

.elementor-2999 .elementor-element.elementor-element-19e4ae3>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-19e4ae3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-e43384e {
    --spacer-size: 200px;
}

.elementor-bc-flex-widget .elementor-2999 .elementor-element.elementor-element-46842b7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-46842b7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-46842b7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-46842b7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-2999 .elementor-element.elementor-element-46842b7>.elementor-element-populated {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 35px;
}

.elementor-2999 .elementor-element.elementor-element-46842b7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-e2aa1e8 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-14d00d6 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-14d00d6 .elementor-star-rating__title {
    color: var(--e-global-color-08fcc9d);
    font-family: var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2999 .elementor-element.elementor-element-14d00d6 .elementor-star-rating i:before {
    color: #333C09;
}

.elementor-2999 .elementor-element.elementor-element-0235d5e {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-11db000 .elementor-button {
    background-color: #AD6C05;
}

.elementor-2999 .elementor-element.elementor-element-c4a797a>.elementor-element-populated {
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
}

.elementor-2999 .elementor-element.elementor-element-7c7102a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-7c7102a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../Images/fam.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2999 .elementor-element.elementor-element-7c7102a>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.1;
}

.elementor-2999 .elementor-element.elementor-element-7c7102a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2999 .elementor-element.elementor-element-7c7102a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-f0e47cc {
    --spacer-size: 200px;
}

.elementor-bc-flex-widget .elementor-2999 .elementor-element.elementor-element-1ff1c72.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-1ff1c72.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2999 .elementor-element.elementor-element-1ff1c72:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2999 .elementor-element.elementor-element-1ff1c72>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-2999 .elementor-element.elementor-element-1ff1c72>.elementor-element-populated {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 35px;
}

.elementor-2999 .elementor-element.elementor-element-1ff1c72>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2999 .elementor-element.elementor-element-75a9fb3 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-2472769 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-2472769 .elementor-star-rating__title {
    color: var(--e-global-color-08fcc9d);
    font-family: var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2999 .elementor-element.elementor-element-2472769 .elementor-star-rating i:before {
    color: #333C09;
}

.elementor-2999 .elementor-element.elementor-element-5677700 {
    text-align: left;
}

.elementor-2999 .elementor-element.elementor-element-4f061a7 .elementor-button {
    background-color: #AD6C05;
}

:root {
    --smooth-title-display: none;
}

@media(min-width:768px) {
    .elementor-2999 .elementor-element.elementor-element-3fd48445 {
        width: 52%;
    }

    .elementor-2999 .elementor-element.elementor-element-7b95535a {
        width: 48%;
    }

    .elementor-2999 .elementor-element.elementor-element-bb4c9f6 {
        width: 52%;
    }

    .elementor-2999 .elementor-element.elementor-element-0f658a6 {
        width: 48%;
    }

    .elementor-2999 .elementor-element.elementor-element-a7f793e {
        width: 52%;
    }

    .elementor-2999 .elementor-element.elementor-element-ea5402a {
        width: 48%;
    }

    .elementor-2999 .elementor-element.elementor-element-4f4ebaa {
        width: 52%;
    }

    .elementor-2999 .elementor-element.elementor-element-8eb71f2 {
        width: 48%;
    }

    .elementor-2999 .elementor-element.elementor-element-1c567b8 {
        width: 52%;
    }

    .elementor-2999 .elementor-element.elementor-element-bc53023 {
        width: 48%;
    }

    .elementor-2999 .elementor-element.elementor-element-19e4ae3 {
        width: 52%;
    }

    .elementor-2999 .elementor-element.elementor-element-46842b7 {
        width: 48%;
    }

    .elementor-2999 .elementor-element.elementor-element-7c7102a {
        width: 52%;
    }

    .elementor-2999 .elementor-element.elementor-element-1ff1c72 {
        width: 48%;
    }
}

@media(max-width:1024px) {
    .elementor-2999 .elementor-element.elementor-element-348623d {
        margin-top: -165px;
        margin-bottom: 0px;
        padding: 242px 15px 160px 15px;
    }

    .elementor-2999 .elementor-element.elementor-element-85a188e>.elementor-widget-container {
        margin: 0px 0px 5px 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-85a188e .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-2999 .elementor-element.elementor-element-592efc9c>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-72a89289 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-35b46188>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-3ee2d18d .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-61d3c6e>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-e586229 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-6a52b22>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-f725065 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-2cb9c5a>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-664cf1c .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-6fea108>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-836ac3c .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-88e6416>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-14d00d6 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-c4a797a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2999 .elementor-element.elementor-element-2472769 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }
}

@media(max-width:767px) {
    .elementor-2999 .elementor-element.elementor-element-348623d {
        margin-top: -265px;
        margin-bottom: 0px;
        padding: 344px 15px 160px 15px;
    }

    .elementor-2999 .elementor-element.elementor-element-85a188e .elementor-heading-title {
        font-size: 24px;
    }

    .elementor-2999 .elementor-element.elementor-element-26f30872 {
        padding: 0px 15px 0px 15px;
        z-index: 100;
    }

    .elementor-2999 .elementor-element.elementor-element-72a89289 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-3ee2d18d .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-e586229 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-f725065 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-664cf1c .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-836ac3c .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-14d00d6 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2999 .elementor-element.elementor-element-2472769 .elementor-star-rating__title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2999 .elementor-element.elementor-element-592efc9c {
        width: 100%;
    }

    .elementor-2999 .elementor-element.elementor-element-35b46188 {
        width: 100%;
    }

    .elementor-2999 .elementor-element.elementor-element-61d3c6e {
        width: 100%;
    }

    .elementor-2999 .elementor-element.elementor-element-6a52b22 {
        width: 100%;
    }

    .elementor-2999 .elementor-element.elementor-element-2cb9c5a {
        width: 100%;
    }

    .elementor-2999 .elementor-element.elementor-element-6fea108 {
        width: 100%;
    }

    .elementor-2999 .elementor-element.elementor-element-88e6416 {
        width: 100%;
    }

    .elementor-2999 .elementor-element.elementor-element-c4a797a {
        width: 100%;
    }
}