.elementor-844 .elementor-element.elementor-element-f8f547a:not(.elementor-motion-effects-element-type-background), .elementor-844 .elementor-element.elementor-element-f8f547a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../Images/manseeing.webp");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-844 .elementor-element.elementor-element-f8f547a > .elementor-background-overlay {
    background-color: var( --e-global-color-e5e9561 );
    opacity: 0.65;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-844 .elementor-element.elementor-element-f8f547a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -185px;
    margin-bottom: 0px;
    padding: 258px 15px 165px 15px;
}

.elementor-844 .elementor-element.elementor-element-776e39aa > .elementor-widget-container {
    margin: 0px 100px 0px 100px;
}

.elementor-844 .elementor-element.elementor-element-776e39aa {
    text-align: center;
}

.elementor-844 .elementor-element.elementor-element-776e39aa .elementor-heading-title {
    color: var( --e-global-color-21bfb04 );
}

.elementor-844 .elementor-element.elementor-element-4398fb50 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -100px;
    margin-bottom: 0px;
}

.elementor-844 .elementor-element.elementor-element-4398fb50 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-844 .elementor-element.elementor-element-5cf46c0e {
    --spacer-size: 150px;
}

.elementor-844 .elementor-element.elementor-element-4d6eaeca > .elementor-container {
    max-width: 1130px;
}

.elementor-844 .elementor-element.elementor-element-4d6eaeca {
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-844 .elementor-element.elementor-element-726b48c9 > .elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-844 .elementor-element.elementor-element-3f4fe7e4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-844 .elementor-element.elementor-element-58d50143 > .elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 > .elementor-widget-container {
    padding: 15px 0px 15px 0px;
    background-color: var( --e-global-color-primary );
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(50px/2);
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(50px/2);
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(50px/2);
    margin-left: calc(50px/2);
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-50px/2);
    margin-left: calc(-50px/2);
}

body.rtl .elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-50px/2);
}

body:not(.rtl) .elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-50px/2);
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    border-color: #ddd;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 1px;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 1px;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-icon i {
    color: var( --e-global-color-ad41708 );
    transition: color 0.3s;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-ad41708 );
    transition: fill 0.3s;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-icon {
    padding-right: 15px;
}

.elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-844 .elementor-element.elementor-element-5aaf15fd > .elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title:before, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title:after, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-content, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tabs-content-wrapper {
    border-width: 1px;
}

.elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-mobile-title, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-desktop-title.elementor-active, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title:before, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title:after, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-content, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tabs-content-wrapper {
    border-color: var( --e-global-color-57a29b1 );
}

.elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title a {
    color: var( --e-global-color-e5e9561 );
}

.elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title.elementor-active, .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title.elementor-active a {
    color: var( --e-global-color-accent );
}

.elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    line-height: var( --e-global-typography-accent-line-height );
}

.elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-content {
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    line-height: var( --e-global-typography-text-line-height );
}

.elementor-844 .elementor-element.elementor-element-3b7db4a8 > .elementor-widget-container {
    padding: 45px 0px 25px 0px;
}

.elementor-844 .elementor-element.elementor-element-3b7db4a8 .elementor-heading-title {
    color: #222222;
}

.elementor-844 .elementor-element.elementor-element-4af06cba {
    --e-image-carousel-slides-to-show: 2;
}

.elementor-844 .elementor-element.elementor-element-4af06cba .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: var( --e-global-color-primary );
}

.elementor-844 .elementor-element.elementor-element-e1ccae9 > .elementor-element-populated {
    padding: 0px 0px 0px 20px;
}

.elementor-844 .elementor-element.elementor-element-7f96ce97 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-844 .elementor-element.elementor-element-7f96ce97 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-844 .elementor-element.elementor-element-3aeb1d3e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-844 .elementor-element.elementor-element-3aeb1d3e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-844 .elementor-element.elementor-element-3aeb1d3e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-844 .elementor-element.elementor-element-3aeb1d3e:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-844 .elementor-element.elementor-element-3aeb1d3e > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var( --e-global-color-accent );
}

.elementor-844 .elementor-element.elementor-element-3aeb1d3e > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 0px 20px 0px;
}

.elementor-844 .elementor-element.elementor-element-3aeb1d3e > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-844 .elementor-element.elementor-element-62d3acae {
    text-align: center;
}

.elementor-844 .elementor-element.elementor-element-62d3acae .elementor-star-rating {
    font-size: 18px;
}

.elementor-844 .elementor-element.elementor-element-62d3acae .elementor-star-rating i:before {
    color: #FFFFFF;
}

.elementor-844 .elementor-element.elementor-element-8edbe78 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-844 .elementor-element.elementor-element-8ca57cd iframe {
    height: 350px;
    filter: brightness( 85% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-844 .elementor-element.elementor-element-5e13fb1e:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-844 .elementor-element.elementor-element-5e13fb1e > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #333C09;
}

.elementor-844 .elementor-element.elementor-element-5e13fb1e > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 35px 35px 35px;
}

.elementor-844 .elementor-element.elementor-element-5e13fb1e > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-group {
    padding-right: calc( 15px/2 );
    padding-left: calc( 15px/2 );
    margin-bottom: 20px;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-form-fields-wrapper {
    margin-left: calc( -15px/2 );
    margin-right: calc( -15px/2 );
    margin-bottom: -20px;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-844 .elementor-element.elementor-element-13119d01 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 8px;
}

body:not(.rtl) .elementor-844 .elementor-element.elementor-element-13119d01 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 8px;
}

body .elementor-844 .elementor-element.elementor-element-13119d01 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 8px;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-group > label, .elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-subgroup label {
    color: var( --e-global-color-21bfb04 );
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-group .elementor-field {
    color: var( --e-global-color-text );
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: var( --e-global-color-ad41708 );
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-field-group .elementor-select-wrapper select {
    background-color: var( --e-global-color-ad41708 );
}

.elementor-844 .elementor-element.elementor-element-13119d01 .e-form__buttons__wrapper__button-next {
    background-color: #0F6F1E;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-button[type="submit"] {
    background-color: #0F6F1E;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-message.elementor-message-success {
    color: var( --e-global-color-21bfb04 );
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-message.elementor-message-danger {
    color: var( --e-global-color-21bfb04 );
}

.elementor-844 .elementor-element.elementor-element-13119d01 .elementor-message.elementor-help-inline {
    color: var( --e-global-color-21bfb04 );
}

.elementor-844 .elementor-element.elementor-element-13119d01 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

:root {
    --smooth-title-display: none;
}

@media(max-width: 1024px) {
    .elementor-844 .elementor-element.elementor-element-f8f547a {
        margin-top:-165px;
        margin-bottom: 0px;
        padding: 242px 15px 160px 15px;
    }

    .elementor-844 .elementor-element.elementor-element-776e39aa > .elementor-widget-container {
        margin: 0px 0px 5px 0px;
    }

    .elementor-844 .elementor-element.elementor-element-5cf46c0e {
        --spacer-size: 100px;
    }

    .elementor-844 .elementor-element.elementor-element-4d6eaeca {
        margin-top: 45px;
        margin-bottom: 100px;
        padding: 0px 15px 0px 15px;
    }

    .elementor-844 .elementor-element.elementor-element-726b48c9 > .elementor-element-populated {
        padding: 0px 0px 85px 0px;
    }

    .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-content {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-844 .elementor-element.elementor-element-4af06cba {
        --e-image-carousel-slides-to-show: 3;
    }

    .elementor-844 .elementor-element.elementor-element-e1ccae9 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-844 .elementor-element.elementor-element-3aeb1d3e > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-844 .elementor-element.elementor-element-4cf04d2f > .elementor-element-populated {
        padding: 28px 0px 0px 0px;
    }
}

@media(max-width: 767px) {
    .elementor-844 .elementor-element.elementor-element-f8f547a {
        margin-top:-265px;
        margin-bottom: 0px;
        padding: 344px 15px 160px 15px;
    }

    .elementor-844 .elementor-element.elementor-element-4d6eaeca {
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(20px/2);
    }

    .elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(20px/2);
    }

    .elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(20px/2);
        margin-left: calc(20px/2);
    }

    .elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-20px/2);
        margin-left: calc(-20px/2);
    }

    body.rtl .elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-20px/2);
    }

    body:not(.rtl) .elementor-844 .elementor-element.elementor-element-1d28abf9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-20px/2);
    }

    .elementor-844 .elementor-element.elementor-element-1d28abf9 {
        --e-icon-list-icon-size: 15px;
    }

    .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-844 .elementor-element.elementor-element-5aaf15fd .elementor-tab-content {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-844 .elementor-element.elementor-element-e1ccae9 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-844 .elementor-element.elementor-element-3aeb1d3e {
        width: 100%;
    }
}

@media(min-width: 768px) {
    .elementor-844 .elementor-element.elementor-element-726b48c9 {
        width:65%;
    }

    .elementor-844 .elementor-element.elementor-element-e1ccae9 {
        width: 35%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-844 .elementor-element.elementor-element-726b48c9 {
        width:100%;
    }

    .elementor-844 .elementor-element.elementor-element-e1ccae9 {
        width: 100%;
    }
}
