.elementor-8056 .elementor-element.elementor-element-400b448 {
	margin-top: 2em;
	margin-bottom: 0em;
	padding: 0rem 0rem 0rem 1rem;
}

.elementor-8056 .elementor-element.elementor-element-3f3b1d0>.elementor-element-populated {
	border-style: solid;
	border-color: var(--e-global-color-ad41708);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 10px 10px 10px 10px;
}

.elementor-8056 .elementor-element.elementor-element-3f3b1d0>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8056 .elementor-element.elementor-element-d83582e {
	text-align: left;
}

.elementor-8056 .elementor-element.elementor-element-d83582e img {
	width: 26%;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item a.hfe-sub-menu-item {
	padding-top: 13px;
	padding-bottom: 13px;
}

body:not(.rtl) .elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
	margin-right: 0px;
}

body.rtl .elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
	margin-left: 0px;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
	margin-bottom: 0px;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu a.hfe-sub-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 a.hfe-sub-menu-item {
	font-size: 15px;
	text-transform: uppercase;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu a.hfe-sub-menu-item {
	color: #FFFFFF;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item a.hfe-menu-item:hover,
.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item a.hfe-menu-item.highlighted,
.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item a.hfe-menu-item:focus {
	color: #F5DEB3;
	background-color: #02010100;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
	background-color: #02010100;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
	background-color: unset;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
	border-color: #02010100;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item.current-menu-ancestor a.hfe-menu-item {
	color: #F5DEB3;
	background-color: #02010100;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent.current-menu-item a.hfe-menu-item:before,
.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent.current-menu-item a.hfe-menu-item:after {
	background-color: #02010100;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-nav-menu:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a.current-menu-item:after {
	background-color: unset;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-pointer__framed .menu-item.parent.current-menu-item a.hfe-menu-item:before,
.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-pointer__framed .menu-item.parent.current-menu-item a.hfe-menu-item:after {
	border-color: #02010100;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: #383838;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu li a.hfe-sub-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	text-transform: uppercase;
}

.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu li.menu-item:not(:last-child),
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #722323;
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(0px/2);
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(0px/2);
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(0px/2);
	margin-left: calc(0px/2);
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-0px/2);
	margin-left: calc(-0px/2);
}

body.rtl .elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-0px/2);
}

body:not(.rtl) .elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-0px/2);
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-icon i {
	color: #2CE401;
	transition: color 0.3s;
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-icon svg {
	fill: #2CE401;
	transition: fill 0.3s;
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-icon {
	padding-right: 5px;
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-item>a {
	font-family: "Montserrat", Sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	line-height: 2.5em;
}

.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-8056 .elementor-element.elementor-element-5d26507 {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 15px;
	--grid-column-gap: 5px;
	--grid-row-gap: 0px;
}

.elementor-8056 .elementor-element.elementor-element-5d26507 .elementor-widget-container {
	text-align: left;
}

.elementor-8056 .elementor-element.elementor-element-5d26507>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-8056 .elementor-element.elementor-element-5d26507 .elementor-social-icon {
	--icon-padding: 8px;
}

#elementor-popup-modal-8056 .dialog-widget-content {
	animation-duration: 0.5s;
	background-color: #383838;
	display: inline-block;
	box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-8056  {
	width: 50vh;
	height: 100vh;
	align-items: flex-end;
	/* left: 65%; */
	
}
.dialog-message{
	top: 0;
	right: 0;
	position: fixed;
	background-color: #383838;
}

#elementor-popup-modal-8056 {
	/* justify-content: flex-end; */
	right: 0;
	width: 100vh;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-8056 .dialog-close-button {
	display: flex;
	top: 0;
	right: 0;
	position: fixed;
}

#elementor-popup-modal-8056 .dialog-close-button i {
	color: #ED7E00;
}

#elementor-popup-modal-8056 .dialog-close-button svg {
	fill: #ED7E00;
}

@media(max-width:1024px) {
	body:not(.rtl) .elementor-8056 .elementor-element.elementor-element-7640c30.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-right: 0px;
	}

	body .elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-bottom: 0px;
	}
}

@media(max-width:767px) {
	.elementor-8056 .elementor-element.elementor-element-400b448 {
		margin-top: 1em;
		margin-bottom: 0em;
		padding: 0rem 0rem 0rem 1rem;
	}

	.elementor-8056 .elementor-element.elementor-element-3f3b1d0>.elementor-element-populated {
		border-width: 1px 1px 1px 1px;
        margin: 1% 05% 15% 0%;
        --e-column-margin-right: 12%;
        --e-column-margin-left: 0%;
        padding: 10px 10px 10px 10px;
    }

	.elementor-8056 .elementor-element.elementor-element-3f3b1d0>.elementor-element-populated,
	.elementor-8056 .elementor-element.elementor-element-3f3b1d0>.elementor-element-populated>.elementor-background-overlay,
	.elementor-8056 .elementor-element.elementor-element-3f3b1d0>.elementor-background-slideshow {
		border-radius: 8px 8px 8px 8px;
	}

	.elementor-8056 .elementor-element.elementor-element-d83582e>.elementor-widget-container {
		padding: 0% 0% 0% 0%;
	}

	.elementor-8056 .elementor-element.elementor-element-d83582e {
		text-align: left;
	}

	.elementor-8056 .elementor-element.elementor-element-d83582e img {
		width: 65%;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item a.hfe-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 .menu-item a.hfe-sub-menu-item {
		padding-top: 8px !important;
		padding-bottom: 8px !important;
	}

	body:not(.rtl) .elementor-8056 .elementor-element.elementor-element-7640c30.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-right: 0px;
	}

	body .elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-bottom: 0px;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu li a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-menu-item {
		padding-left: 0px;
		padding-right: 0px;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-sub-menu-item {
		padding-left: calc(0px + 20px);
		padding-right: 0px;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
		padding-left: calc(0px + 40px);
		padding-right: 0px;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
		padding-left: calc(0px + 60px);
		padding-right: 0px;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
		padding-left: calc(0px + 80px);
		padding-right: 0px;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
		padding-top: 13px;
		padding-bottom: 13px;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 a.hfe-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 a.hfe-sub-menu-item {
		font-size: 18px;
	}

	.elementor-8056 .elementor-element.elementor-element-7640c30 .sub-menu li a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-sub-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown li a.hfe-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-menu-item,
	.elementor-8056 .elementor-element.elementor-element-7640c30 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
		font-size: 14px;
	}

	.elementor-8056 .elementor-element.elementor-element-5fc4f57>.elementor-widget-container {
		margin: -25px 0px 0px 0px;
	}

	.elementor-8056 .elementor-element.elementor-element-5fc4f57 {
		--e-icon-list-icon-size: 25px;
	}

	.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-8056 .elementor-element.elementor-element-5fc4f57 .elementor-icon-list-item>a {
		font-size: 15px;
	}

	.elementor-8056 .elementor-element.elementor-element-5d26507>.elementor-widget-container {
		margin: -10px 0px 0px 10px;
	}

	.elementor-8056 .elementor-element.elementor-element-5d26507 {
		--icon-size: 17px;
	}

	.elementor-8056 .elementor-element.elementor-element-5d26507 .elementor-social-icon {
		--icon-padding: 5px;
	}

	#elementor-popup-modal-8056 .dialog-message {
		width: 330px;
	}

	#elementor-popup-modal-8056 .dialog-close-button {
		top: 5.5%;
		font-size: 36px;
	}

	body:not(.rtl) #elementor-popup-modal-8056 .dialog-close-button {
		right: 16.3%;
	}

	body.rtl #elementor-popup-modal-8056 .dialog-close-button {
		left: 16.3%;
	}
}