
.translator{
    display: block;
    padding: 10px;
    background-color: #ED7E00;
    bottom: 2px;
    left: 5px;
    position: fixed;
    color: white;
    z-index: 100;
    font-size: medium;
    font-weight: bold;
    border: 1px solid #ED7E00;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.translator i{
    font-size: small;
}
.container{
    width: 100%;
    top: 50%;
}
div.bannerz{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/packeges/ew42e4sdde.jpg') !important;    
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    /* margin-bottom: 20%; */
    z-index: 1000;
}

.txt-ban{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: x-large;
    transform: translate(-50%, -50%);
    color: white;

}

/* about us sect */

.container{
    display: block;
    width: auto;
    margin: auto 10%;
    text-align: center;
    position: relative;
}

.deck{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 25px;
}

.sect1{
    position: relative;
    float: left;
    width: 50%;
}
.boda{
    border-right: 7px solid black;
    float: right;
}

.about-title{
    display: block;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
    
}

.about-title .title1{
    text-align: left;
    padding-bottom: 2%;
    margin: auto;
}

.about-title .title2{
    text-align: left;
    padding: 1%;
    margin: auto;
}

.para{
    text-align: justify;
    font-size: medium;
}

.sect2{
    position: absolute;
    width: 50%;
    top: 60%;
    left: 25%;
    transform: translate(50%, -50%);
}

.youtube-ifr .head1{
    /* padding-bottom: 4%; */
    left: 0;
    /* height: 1em; */
    font-size: 13px;
    

}

@media only screen and (max-width: 600px) {
        .container{
            display: block;
            width: auto;
            margin: auto 10%;
            text-align: center;
            position: relative;
            padding-bottom: 45%;
        }
    .deck{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        position: relative;

        width: 100%;
    }
    .sect1{
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        width: 100%;
       
    }
    .sect1 h1{
        line-height: 130%;    }
    .para{
        text-align: left;
    }
    .sect2{
        grid-column: 1 / 4;
        grid-row: 3 / 5;
        width: 100%;
        top: 90%;
        left: -60%;
        transform: translate(60%, 10%);
    }
    .head1{
        font-size: 60%;     
        border-left: 1px solid black;   
        padding-left: -6%;
        width: 100%;
        text-align: center;
        left: 0;
    }
     
}

@media only screen and (min-width: 601px) and (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        width: auto;
        margin: auto 5%;
        text-align: center;
        /* position: relative; */
        padding-bottom: 45%;
    }
    .deck{
        display: flexbox;
        margin: auto 5%;
        flex-direction: column;
        width: 100%;
    }
    
    .sect1{
        width: 100%;
    
    }
    .para{
        text-align: left;
    }
    .sect2{
        width: 100%;
        height: auto;
        margin-top: 15%;
        margin-left: -75%;
        padding: auto;
        
    }
    .head1{
        left: -56px;
        font-size: medium;
        /* border-left: 1px solid black; */

    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        display: block;
        width: 100%; /* Using width 90% instead of auto 5% margin for consistency */
        margin: auto 5%;
        text-align: center;
        grid-gap: 5%;
    }

    .deck {
        display: grid;
        grid-template-columns: auto auto auto; /* Four equal columns */
        grid-template-rows: auto; /* Rows auto-adjust to content */
        grid-gap: 3%;
        width: 100%;
        padding: 0%;
    }

    .title1 h1{
        line-height: 100%;
        width: 100%;
    }

    .sect1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 40%;
    }

    .para {
        text-align: left;
    }

    .sect2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 15%;
        height: auto;
        margin-top: -2%;
        margin-left: 20%; /* Removed negative margin */
    }

   .head1 {
        font-size: 60%;
        display: inline-block;
        width: 170%;
        border-left: 1px solid #000;
        padding-left: 3%;
        text-align: center;
        margin-bottom: 10%;
    }
}

.travel-container{
    display: block;
    width: 100;
    margin: 15% 10%;
    padding: 3%;
}

.travel-deck{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto ;
    width: 100%;
    padding: 0;
    column-gap: 2%;
    font-size: 15px;
    line-height: 25px;
}

.travel-title{
    grid-column: 1 / 5;
    text-align: center;
    padding-bottom: 2em;
    color: #101F46;
    font-size: 1.5rem;
    font-style: Open-Sans;
    font: sans-serif;
}

.travel-img{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    gap: -2%;
    margin-right: -20%;
    overflow: hidden;
}

.travel-img img{
    width: 100%;
    height: 100%;
}

.travel-service{
    grid-column: 3 / 3;
    grid-row: 2 / 3;
}

.travel-service .service-title{
    width: 100%;
    padding-top: 8%;
    padding-bottom: 5%;
    color: #101F46;
}

.travel-price{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    width: 100%;
}

.travel-price .price-title{
    padding-top: 0;
    padding-bottom: 5%;
    width: 100%;
    color: #101F46;
}

.travel-sust{
    grid-column: 3 / 4;
    grid-row: 2.5 / 4;
}

.travel-sust .sust-title{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #101F46;
}

.travel-best{
    grid-column: 4 / 5;
    grid-row: 2.5 / 4;
}

.travel-best .best-title{
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
    color: #101F46;
}

/* travel with us responsive */
@media only screen and (max-width: 600px) {
    
    .travel-container{
        display: block;
        flex-direction: column;
        width: 100;
        margin: 15% 5%;
        padding: 3%;
    }
    .travel-deck{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
        column-gap: 5%;
    }
    .travel-title{
        text-align: center;
        padding-bottom: 2em;
        color: #101F46;
        font-size: 100%;
        width: 90%;
        font-style: Open-Sans;
        font: sans-serif;
    }
    .travel-img{
        float: left;
        width: 100%;
        overflow: hidden;
    } 
    .travel-service{
        grid-column: 3 / 3;
        grid-row: 2 / 3;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .travel-service .service-title{
        width: 100%;
        padding-top: 8%;
        font-size: 80%;
        color: #101F46;
    }
    
    .travel-price{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .travel-price .price-title{
        padding-top: 0;
        width: 100%;
        font-size: 80%;
        color: #101F46;
    }
    
    .travel-sust{
        grid-column: 3 / 4;
        grid-row: 2.5 / 4;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    
    .travel-sust .sust-title{
        width: 100%;
        font-size: 80%;
        color: #101F46;
    }
    
    .travel-best{
        grid-column: 4 / 5;
        grid-row: 2.5 / 4;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    
    .travel-best .best-title{
        padding-top: 5%;
        width: 100%;
        font-size: 80%;
        color: #101F46;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 992px){
    .travel-container{
        display: block;
        flex-direction: column;
        width: 100;
        margin: auto 5%;
        margin-top: 15%;
        padding: 3%;
    }
    .travel-deck{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
        column-gap: 5%;
    }
    .travel-title{
        text-align: center;
        padding-bottom: 2em;
        color: #101F46;
        font-size: 100%;
        width: 90%;
        font-style: Open-Sans;
        font: sans-serif;
    }
    .travel-img{
        float: left;
        width: 100%;
        overflow: hidden;
    } 
    .travel-service{
        grid-column: 3 / 3;
        grid-row: 2 / 3;
        margin-top: 5%;
    }
    
    .travel-service .service-title{
        width: 100%;
        padding-top: 8%;
        font-size: 80%;
        margin-bottom: -15px;
        color: #101F46;
    }
    
    .travel-price{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        width: 100%;
        margin-top: 5%;
    }
    
    .travel-price .price-title{
        padding-top: 0;
        width: 100%;
        font-size: 80%;
        margin-bottom: -15px;
        color: #101F46;
    }
    
    .travel-sust{
        grid-column: 3 / 4;
        grid-row: 2.5 / 4;
    }
    
    .travel-sust .sust-title{
        width: 100%;
        padding-top: 5%;
        font-size: 80%;
        margin-bottom: -15px;
        color: #101F46;
    }
    
    .travel-best{
        grid-column: 4 / 5;
        grid-row: 2.5 / 4;
        margin-bottom: 5%;
    }
    
    .travel-best .best-title{
        padding-top: 5%;
        width: 100%;
        font-size: 80%;
        margin-bottom: -15px;
        color: #101F46;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
    .travel-container{
        display: block;
        flex-direction: column;
        width: 100;
        margin: auto 5%;
        margin-top: 5%;
        padding: 3%;
    }
    .travel-deck{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
        column-gap: 5%;
    }
    .travel-title{
        text-align: center;
        padding-bottom: 2em;
        color: #101F46;
        font-size: 100%;
        width: 90%;
        font-style: Open-Sans;
        font: sans-serif;
    }
    .travel-img{
        float: left;
        width: 100%;
        overflow: hidden;
    } 
    .travel-service{
        grid-column: 3 / 3;
        grid-row: 2 / 3;
        margin-top: -5%;
    }
    
    .travel-service .service-title{
        width: 100%;
        padding-top: 8%;
        margin-bottom: -3%;
        font-size: 80%;
        color: #101F46;
    }
    
    .travel-price{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        width: 100%;
        margin-top: 2%;
    }
    
    .travel-price .price-title{
        padding-top: 0;
        width: 100%;
        margin-bottom: -3%;
        font-size: 80%;
        color: #101F46;
    }
    
    .travel-sust{
        grid-column: 3 / 4;
        grid-row: 2.5 / 4;
        margin-top: -3%;
    }
    
    .travel-sust .sust-title{
        width: 100%;
        padding-top: 5%;
        margin-bottom: -3%;
        font-size: 80%;
        color: #101F46;
    }
    
    .travel-best{
        grid-column: 4 / 5;
        grid-row: 2.5 / 4;
        margin-top: -3%;
        margin-bottom: 5%;
    }
    
    .travel-best .best-title{
        padding-top: 5%;
        width: 100%;
        margin-bottom: -3%;
        font-size: 80%;
        color: #101F46;
    }
}


.trav-container{
    overflow-y: hidden;
    display: block;
    padding: 0;
    margin: auto 10%;
}

.trav-deck{
    width: 100%;
    text-align: justify;
}

.mission > .mission-title{
    font-size: 01em;
    font-weight: 100;
    padding-bottom: 2.5%;
    color: #101F46;
}

.mission-para{
    padding-bottom: 2%;
}

.talent > .talent-title{
    font-size: 01em;
    font-weight: 100;
    padding-bottom: 2.5%;
    color: #101F46;
}

.talent-para{
    padding-bottom: 2%;
}

.tour > .tour-title{
    font-size: 01em;
    font-weight: 100;
    padding-bottom: 2.5%;
    color: #101F46;
}

.tour-para{
    padding-bottom: 2%;
}

@media only screen and (max-width: 600px) {
    .trav-container{
        overflow-y: hidden;
        display: block;
        padding: 0;
        margin: auto 5%;
    }
    
    .trav-deck{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: justify;
    }
    
    .mission > .mission-title{
        font-size: 80%;
        font-weight: 100;
        padding-bottom: 2.5%;
        margin-bottom: 25px;
        word-spacing: normal;
        color: #101F46;
    }
    .mission{
        margin-bottom: 30px;
    }
    
    .mission-para{
        padding-bottom: 2%;
    }
    
    .talent > .talent-title{
        font-size: 80%;
        font-weight: 100;
        margin-bottom: 25px;
        line-height: 100%;
        word-spacing: 1px;
        padding-bottom: 2.5%;
        color: #101F46;
    }
    
    .talent{
        margin-bottom: 30px;
    }
    .talent-para{
        padding-bottom: 2%;
    }
    
    .tour > .tour-title{
        font-size: 80%;
        font-weight: 100;
        margin-bottom: 25px;
        line-height: 100%;
        padding-bottom: 2.5%;
        word-spacing: normal;
        color: #101F46;
    }

    .tour{
        margin-bottom: 30px;
    }
    
    .tour-para{
        padding-bottom: 2%;
    }
}

@media only screen and (min-width: 601px) and (max-width:992px) {
    .trav-deck{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: justify;
    }
    
    .mission > .mission-title{
        font-size: 80%;
        font-weight: 100;
        padding-bottom: 2.5%;
        margin-bottom: 10px;
        color: #101F46;
    }
    .mission{
        margin-bottom: 15px;
    }
    
    .mission-para{
        padding-bottom: 2%;
    }
    
    .talent > .talent-title{
        font-size: 80%;
        font-weight: 100;
        margin-bottom: 10px;
        padding-bottom: 2.5%;
        color: #101F46;
    }
    
    .talent{
        margin-bottom: 15px;
    }
    .talent-para{
        padding-bottom: 2%;
    }
    
    .tour > .tour-title{
        font-size: 80%;
        font-weight: 100;
        margin-bottom: 10px;
        padding-bottom: 2.5%;
        color: #101F46;
    }

    .tour{
        margin-bottom: 15px;
    }
    
    .tour-para{
        padding-bottom: 2%;
    }
}
/* SAFARI VEHICLES */

.safari-vehicles{
    display: block;
    padding: 5% 0;
    margin: auto 10%;
    width:100%;
}

.safa-deck{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 3%;
    font-size: 18px;
    line-height: 25px;
}

.safa-head{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 3%;
    color: #101F46;
}

.safa-para{
    grid-column: 1 / 1;
    grid-row: 1.5 / 3;
    width: 80%;
   
}

.safa-image{
    grid-column: 1.1 / 4;
    grid-row: 1.5 / 3;
    width: 90%;
    margin-left: -20%;
}

.safa-image img{
    width: 100%;
    height: auto;
}

.btn{
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    background-color: #59B200;    
    color: white;
    padding: 3%;
    text-decoration: underline;
    width: 30%;
    margin-top: -10%;
    border-color: #333C09;    
    border-radius: 8px 8px 8px 8px;

}


@media only screen and (max-width: 600px) {
    .safari-vehicles{
        display: block;
        padding: 5% 0;
        margin: 15% 5%;
        width:100%;
    }
    
    .safa-deck{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .safa-head{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-bottom: 3%;
        margin-bottom: 25px;
    }
    
    .safa-para{
        width: 80%;
        
    }
    
    .safa-image{
        
        width: 70%;
        margin-left: -1%;
    }
    
    .safa-image img{
        width: 130%;
        height: auto;
    }
    
    .btn{
        background-color: #59B200;    
        color: white;
        padding: 2%;
        text-decoration: underline;
        width: 30%;
        margin-top: 5%;
        margin-bottom: 10%;
        border-color: #333C09;    
        border-radius: 8px 8px 8px 8px;
    
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px){
    .safari-vehicles{
        display: block;
        padding: 5% 0;
        margin: auto 5%;
        width:100%;
    }
    
    .safa-deck{
        display:flex;
        flex-direction: column;
        grid-gap: 3%;
        padding: 0;
        margin: 0;
    }
    
    .safa-head{
        padding-bottom: 3%;
    }
    
    .safa-para{
        width: 80%;
        
    }
    
    .safa-image{
        width: 70%;
        margin-left: -1%;
    }
    
    .safa-image img{
        width: 130%;
        height: auto;
    }
    
    .btn{
        background-color: #59B200;    
        color: white;
        padding: 2%;
        text-decoration: underline;
        width: 30%;
        margin-top: 10%;
        margin-bottom: 5%;
        border-color: #333C09;    
        border-radius: 8px 8px 8px 8px;
    
    }

}
@media only screen and (min-width: 993px) and (max-width: 1300px){
    .btn{
        background-color: #59B200;    
        color: white;
        padding: 2%;
        text-decoration: underline;
        width: 30%;
        margin-top: 10%;
        margin-bottom: 5%;
        border-color: #333C09;    
        border-radius: 8px 8px 8px 8px;
    
    }
}
/* team */

.team{
    display: block;
    padding: 5% 0;
    margin: auto 10%;
    width:100%;
}

.team-deck{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 3%;
    font-size: 18px;
    line-height: 25px;
}

.team-head{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 85%;
    padding-bottom: 3%;
    text-align: center;
    color: #101F46;
}

.team-para{
    grid-column: 1 / 1;
    grid-row: 1.5 / 3;
    width: 80%;
   
}

.team-image{
    grid-column: 1.1 / 4;
    grid-row: 1.5 / 3;
    width: 90%;
    margin-left: -20%;
}

.team-image img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .team{
        display: block;
        padding: 5% 0;
        margin: 15% 5%;
        width:100%;
    }
    
    .team-deck{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding-right: 6%;
    }
    
    .team-head{
        
        width: 100%;
        padding-bottom: 25px;
        text-align: center;
    }
    
    .team-para{
        width: 100%;
    }
    
    .team-image{
        margin-top: 10%;
        width: 100%;
        margin-left: -2%;
    }
    
    .team-image img{
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px){
    .team{
        display: block;
        padding: 5% 0;
        margin: auto 5%;
        width:100%;
    }
    
    .team-deck{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding-right: 6%;
    }
    
    .team-head{
        
        width: 100%;
        padding-bottom: 8%;
        text-align: center;
    }
    
    .team-para{
        
        width: 100%;
        font-size: 100%
    }
    
    .team-image{
        margin-top: 2%;
        width: 100%;
        margin-left: -2%;
    }
    
    .team-image img{
        width: 100%;
        height: auto;
    }
}


/* COUNTER SECTION */

.counter-captions {
    display: block;
    margin: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/zebra-and-vehicle-on-a-honeymoon-safari.jpg');    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
    padding-bottom: 10%;
}

.counter-deck {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
    margin: 0;
    padding: 5%;
    gap: 2%; 
}

.capts {
    grid-column: 1 / 5; 
    /* text-align: center;  */
}

.capts h1 {
    margin: 0;
    padding-bottom: 3%;
    color: white; 
}

.card1, .card2, .card3, .card4 {
    display: flex;
    flex-direction: row;
    background-color:#434d1b; 
    padding: 3%;
    opacity: 90%;
    align-items: center; 
}

.stk {
    border-right: 1px solid white; 
    padding-right: 10%; 
}

.stk i {
    font-size: 3em; 
    margin-right: 10px; 
    color: #FFFFFF;
}

.numz {
    text-align: right;
    padding-left: 20%; 
    font-size: 1em;
    color: white;
}
.numz h1{
    font-size: 225%;
}

@media only screen and (max-width: 600px) {
    .counter-captions{
        padding-bottom: 20%;
            display: block;
            margin: auto;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/zebra-and-vehicle-on-a-honeymoon-safari.jpg');    background-size: cover; 
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            height: 100%;
            padding-bottom: 10%;
    }
    .counter-deck {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 5%;
        
    }
    
    .capts {
       width: 100%;
       margin-bottom: 5%;
       text-align: center;
        /* text-align: center;  */
    }
    
    .capts h1 {
        margin: 0;
        padding-bottom: 3%;
        color: white; 
        font-size: 25px;

    }
    
    .card1, .card2, .card3, .card4 {
        display: flex;
        flex-direction: row;
        background-color:#434d1b; 
        padding: 8%;
        width: 100%;
        opacity: 90%;
        align-items: center; 
        margin-bottom: 5%;
    }
    
    
    .stk {
        border-right: 1px solid white; 
        padding-right: 10%; 
    }
    
    .stk i {
        font-size: 3em; 
        margin-right: 10px; 
        color: #FFFFFF;
    }
    
    .numz {
        text-align: right;
        padding-left: 20%; 
        font-size: 1em;
        color: white;
    }
    .numz h1{
        font-size: 225%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px){
    .counter-captions {
        display: block;
        margin: auto;
        width: 100%;
        padding: 3%;
        width: 100%;
    }
    .counter-deck {
        display: grid;
        grid-template-columns: repeat(4, auto); 
        grid-template-rows: repeat(4,auto);
        margin: 0;
        margin-bottom: 12%;
        padding: 5%;
        grid-gap: 5%; 
    }
    
    .capts {
        grid-column: 1 / 5; 
        /* text-align: center;  */
    }
    
    .capts h1 {
        margin: 0;
        padding-bottom: 3%;
        color: white; 
    }
    
    .card1, .card2, .card3, .card4 {
        display: flex;
        flex-direction: row;
        background-color:#434d1b; 
        padding: 3%;
        opacity: 90%;
        align-items: center;
        width:130%;
    }

    .card1{
        grid-column: 1 / 2;
        grid-row: 2 / 3;

    }
    .card2{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .card3{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .card4{
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    
    .stk {
        border-right: 1px solid white; 
        padding-right: 10%; 
    }
    
    .stk i {
        font-size: 3em; 
        text-align: center;
        padding: 3%;
        /* margin-right: 10px;  */
        color: #FFFFFF;
    }
    
    .numz {
        text-align: right;
        padding-left: 20%; 
        font-size: 1em;
        color: white;
    }
    .numz h1{
        font-size: 225%;
    }
    
}

.footer-last{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    background-color: #383838;
    width: 100%;
    padding: 18px;
}

.rita{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.cop{
    color: white;
}
.line{
    border-right: 1px solid white;
    margin-right: 10px;
    margin-left: 10px;
}
.booking{
    color: white;
}
.copyright{
    grid-column: 4 / 5;
    color: white;
    margin-right: 10%;
}
.rule{
    display: none;
}


@media only screen and (max-width: 600px){
    .footer-last{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rule{
        display: flex;
        flex-direction: row;
        color: white;
        width: 105%;
        overflow-x: hidden;
    }
    .rita{
        padding-bottom: 30px;
    }
    .copyright{
        text-align: center;
        margin-right: 30px;
        margin-top: 30px;
    }
    
}
